<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style type="text/css">
    .mail-container{
      background-color: #e9e9e9;
      color: #696969;
      padding-top: 0;
      font-family: 'HelveticaNeuePro', 'Roboto-Light', 'Tahoma','sans-serif';
      line-height: normal;
      font-size: 14px;
    }

    .mail-container .link{
      color: #31c89d;
    }

    .mail-container .mail-header{
      text-align: center;
      padding: 20px 0;
    }

    .mail-container .logo{
      max-width:40px;
      margin-bottom: 5px;
    }
    .mail-container .logo-text{
      font-weight: bolder;
      color: #a9a9a9;
    }

    .mail-main-content{
      background: white;
      padding: 50px;
      border-radius: 10px;
      font-size: 18px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .mail-main-content .greeting{
      font-size: 25px;
      font-weight: 900;
      color: black;
    }

    .mail-main-content .email-confirm-btn{
      margin:0;
      padding:10px 0 40px 0;
      border-bottom: 1px solid #D3D3D3;
    }

    .mail-main-content .email-support{
      padding-top: 40px;
      font-size: 14px;
    }

    .funfact{
      margin-top: 20px;
      background: white;
      padding: 40px;
      border-radius: 10px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .funfact h1{
      font-size: 30px;
      color: #31c89d;
    }

    .footer{
      font-size: 13px;
      padding: 40px;
    }

    .text-center{
      text-align: center;
    }

    .btn {
      padding: 12px;
      border-radius: 5px;
      background: #31c89d;
      color: white;
      text-decoration: none;
    }

    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
